<div class="player">
  <ul>
    <li class="cover">
      <img
        src="http://i1285.photobucket.com/albums/a583/TheGreatOzz1/Hosted-Images/Noisy-Freeks-Image_zps4kilrxml.png"
      />
    </li>
    <li class="info">
      <h1>The Noisy Freaks</h1>
      <h4>Premiere</h4>
      <h2>Yeh Shauk Yeh Sharafat</h2>

      <div class="button-items">
        <audio
          (loadedmetadata)="loadedMetadata()"
          (updateVolume)="volumeChange()"
          (click)="togglePlayPause()"
          (timeupdate)="onTimeUpdate()"
          #musicElement
          id="music"
          preload="auto"
          loop="false"
        >
          <source
            src="../../assets/music/yeh shauk yeh Sharafat- Gadar 2.mpeg"
            type="audio/mp3"
          />
          <source
            src="https://dl.dropbox.com/s/75jpngrgnavyu7f/The-Noisy-Freaks.ogg?dl=1"
            type="audio/ogg"
          />
        </audio>
        <div class="timeline-container" (click)="statusBarClick($event)">
          <div class="timeline" id="slider" #timeline>
            <div class="thumb-indicator" #timelineIndicator></div>
            <div
              class="timeline-progress"
              #timelineProgress
              [style.width.%]="
                (musicElement.currentTime / musicElement.duration) * 100
              "
            ></div>
          </div>
        </div>
        <div class="duration-container">
          <div class="current-time" #currentTimeElem>
            {{ initialMusicPlayerState.currentTime }}
          </div>
          /
          <div class="total-time" #totalTimeElem>
            {{ initialMusicPlayerState.duration }}
          </div>
        </div>
        <div class="controls">
          <span class="expend" (click)="backwardSeek()">
            <i class="fas fa-step-backward step-backward"></i>
          </span>
          <button class="play-pause-btn" (click)="togglePlayPause()">
            <i
              [ngClass]="{
                'far fa-play-circle play': !initialMusicPlayerState.isPlaying,
                'fas fa-pause pause': initialMusicPlayerState.isPlaying
              }"
            ></i>
          </button>

          <span class="expend" (click)="forwardSeek()">
            <i class="fas fa-step-forward step-foreward"></i>
          </span>
        </div>
        <div class="volume-container">
          <button
            class="mute-btn"
            (click)="toggleMute()"
            class="fas"
            [ngClass]="{
              'fa-volume-slash volume-muted-icon':
                initialMusicPlayerState.volumeLevel === 'muted',
              'fa-volume-up volume-high-icon':
                initialMusicPlayerState.volumeLevel === 'high',
              'fa-volume-down volume-low-icon':
                initialMusicPlayerState.volumeLevel === 'low'
            }"
          >
            <i></i>
          </button>
          <input
            class="volume-slider"
            type="range"
            min="0"
            max="1"
            step="0.1"
            value="1"
            #rangeSlider
            (input)="onVolumeChange()"
          />
        </div>
      </div>
    </li>
  </ul>
</div>
